html{
  font-family: 'Tilt Neon';
  
}
body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px;
}
.rows{
  margin-top: 2em;
  margin-bottom: 2em;
  width: 500px;
}
.rows span{
  cursor: pointer;
  font-size: 24px;
  margin-left: 20px;
  transition: all 0.5s;
}
.activeflip{
  color: black;
}
.nonactiveflip{
  color: rgb(151, 151, 151);
  transition: all 0.5s;
}
